<h1 class="page-header">修改币种信息</h1>
<% provide(:title, '修改币种信息') %>
<div class="show_con">
  <div class="container-fluid">

    <%= simple_form_for @currency, url: currency_path(@currency),html: {class: 'form-horizontal'} do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit '修改币种信息', :class => 'btn btn-success form-control' %>
    <% end %>
  </div>
</div>
