<h1 class="page-header">添加银行</h1>
<% provide(:title, '添加银行') %>

<div class="show_con">
  <div class="container-fluid">

    <%= simple_form_for @bank, url: banks_path,html: {class: 'form-horizontal'} do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit '添加银行', :class => 'btn btn-success form-control' %>
    <% end %>
  </div>
</div>
