<h1 class="page-header">修改收款记录</h1>
<% provide(:title, '修改收款记录') %>
<div class="show_con">
  <div class="container-fluid">

    <%= simple_form_for @repayment_record, url: repayment_record_path(@repayment_record),html: {class: 'form-horizontal'} do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit '修改收款记录', :class => 'btn btn-success form-control' %>
    <% end %>
  </div>
</div>
